
.card{
    width: 100%;
    height: 350px;
    max-height: 350px;
    margin: 5px;
    border: none;
}
.star-rating{
    height: 10px;
    width: 10px;
}
#carousel-product-popular{
    height: 100px;
    margin: 30px 0;
}
.main-navbar{
    background-color: #35495e;
}
.main-navbar a{
    color:white;
}
.bg-light{
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    background-color: rgba(255,255,255,0.4);
}
.main-container{
    margin-top: 70px;
}
footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
.category-list .list-group span{
    background-color: #e40046;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.category-list .list-group a{
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
}
.category-list{
    width: 68%;
}
.category-list #sub-list-item a {
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
    padding-left: 36px;
}

.category-list .list-group .active{
    color: #212529;
    background-color: #e8eaec;
    border: 1px solid rgba(0,0,0,.125);;
}
.list-group-left{
    float:left;
}
.list-group-right{
    float:right;
}
#carousel-pr-index ,.carousel-item {
    height: 350px;
    width: 100%;
}
.category-list-popular{
    position: relative;
    height: 250px;
    width: 100%;

}
.popular-item{
    overflow-x: auto;
    overflow-y: hidden;
}
.popular-item ul{
     display: inline-flex;
    list-style-type: none;
    padding-left: 0px;
}
.prev,.next{
    top:35%;
    position: absolute;
    text-align: center;
    background: #58555575;
    padding: 7px;
    height: 47px;
    width: 37px;
    font-size: 22px;
    color: white!important;
    transition: background-color 1s;
}
.prev{
    left: 0px;

}
.next{
    right: 0px;
    color: white;
}
.prev:hover ,.next:hover{
    background-color: #585555c7;
    transition: background-color 1s;
}

.popular-item::-webkit-scrollbar {
width: 6px;
height: 6px;
}
.popular-item::-webkit-scrollbar-button:start:decrement,
.popular-item::-webkit-scrollbar-button:end:increment {
display: block;
height: 1000px;
}

.popular-item::-webkit-scrollbar-button:vertical:increment {
background-color: #fff;
}

.popular-item::-webkit-scrollbar-track-piece {
background-color: #eee;
-webkit-border-radius: 3px;
}

.popular-item::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #ccc;
-webkit-border-radius: 3px;
}

.popular-item::-webkit-scrollbar-thumb:horizontal {
width: 50px;
background-color: #ccc;
-webkit-border-radius: 3px;
}
.index-tab-1{
    width: 100%;
    margin-bottom: 20px;
}
.index-link{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}
.index-link a{
    /*box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.42);*/
    border: #6b6a6a75 solid 1px;
    padding: 16px 0;
    font-family: Roboto-Medium;
    font-size: 20px;
    border-radius: 48px;
    background-color: #e40046;
    color: white;
}
.container{
    max-width: 1250px;
}
.view-tab{
    margin-bottom: 27px;
    border: #dee2e6 solid 1px;
    background-color: white;
}
.view-tab-title{
    font-family: Roboto-Regular;
    font-size: 22px;
    color: #424242;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.view-tab-category{
    padding: 20px;
}

.view-tab-category .col-md-8 .col-md-3{
    margin-bottom: 10px;
}
/* Create four equal columns that sits next to each other */
.highlights-item-shop .col-md-3{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.highlights-item-shop{
    padding: 30px;
    margin: 3px 17px 0 0;
}
.highlights-item-shop .col-md-3{
    margin-bottom: 43px;
}
.small-item-shop{
    height: 40%;
    margin: 10px;
}
.large-item-shop{
    height: 60%;
    margin: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .highlights-item-shop .col-md-3 {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .highlights-item-shop .col-md-3{
        flex: 100%;
        max-width: 100%;
    }
    .luxury-item-icons{
        height: 50px;
        width: 50px;
        margin-left: 45%;
    }
}
.luxury-item-shop{
    padding: 30px;
}
.luxury-item-icons{
    height: 50px;
    width: 50px;
    margin-left: 39%;
    transition: margin-left 1s;
}

.luxury-item-body p{
    text-align: center;
    margin: 10px auto;
    color: #5eb195;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    max-height: 50px!important;
}
.luxury-item-body-active img{
    margin-left:0%;
    transition:margin-left 1s ;
}
.luxury-item-body-active p{
    visibility:visible;
    opacity:1;
    transition:opacity .6s ease-in-out;
    font-size:23px;
}
.luxury-item-body{
    display: inline-flex;
    width: 100%;
}
.contact-index{
    padding: 30px;
}

.contact-index .avatar-index {
    position: relative;
    width: 50%;
}

.contact-index .avatar-index img{
    display: block;
    width: 100%;
    height: auto;
}

.avatar-index-body {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.contact-index .avatar-index:hover .avatar-index-body {
    width: 100%;
    left: 0;
}

.avatar-index-body .avatar-index-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}
.on-top{
    padding: 10px;
    /* border: black solid 1px; */
    width: 5%;
    position: fixed;
    bottom: 10px;
    right: -30px;
    background: white;
    box-shadow: 1px 1px 1px 0px #a29f9f;
    transition:right 1s;
}
.on-top:hover{
    right: 0px;
    transition:right 1s;
}
.on-top img{
    height: 50px;
    width: 50px;
}
.view-tab-category .card-img-top{
    height: 165px;
}
.title-item-shop,.title-item-shop p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    color: #242424;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.luxury-item-shop .luxury-item-body p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vee-error-msg{
    color:red;
}
#subMenu{
    top: 48px;
    visibility:hidden;
    background-color: #35495e;
    transition: visibility .4s;
}
#subMenu a{
    color: white;
}
#subMenu li{
    width: 235px;
    text-align: center;
}
.view-tab-category>.col-md-3 ,.view-tab-category>.col-md-9{
    padding: 15px;
    overflow: hidden;
    border: whitesmoke solid 1px;
    background-color: white;
}
.view-tab-category .list-title{
    margin-bottom: 6px;
}
.view-tab-category>.col-md-3>.row{
    padding-left: 20px;
    border-bottom: whitesmoke solid 1px;
}
.view-tab-category>.col-md-3>.list-body:hover{
    background: whitesmoke;
}
.view-tab-category>.col-md-3 .list-context{
    padding-left: 30px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: 14px;
    list-style-type:none;
    color:black;
    text-decoration: none;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
/* LOGIN CONTAINER */
.login-container{

    height: 100%;
}
.login-container .main-login{
    height: 900px;
    background-image: url("../image/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-container .main-login .form-for-user{
    background: white;
    width: 35%;
    padding: 20px;
    position: absolute;
    top: 26%;
    left: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    color: black;
}